<a href="https://colab.research.google.com/github/rimshamujeeb50/2216154_AIML_Bootcamp_2023/blob/main/Aiml_bootcamp_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:



#strings
my_str="Hi Rimsha"
print(my_str.title())
print(my_str.capitalize())
print(my_str.find('a'))  
print(my_str.index(" "))
print(my_str.endswith('z'))

Hi Rimsha
Hi rimsha
8
2
False

Q2.List Methods

In [ ]:
#list methods
l=[1,"hi",6.0]
l.append(4)
print(l)
print(l.index('hi'))
l.reverse()
print(l)
l.insert(1,'o')#(index,"char")
print(l)
l2=l.copy()
print(l2)

Q3.Tuples

In [4]:
#tuples
t=(1,4.5,5,8.00 )
t1=(4,"yayy","hello",t)
t2=("hello",1,4,4.5,t1,t)
nt=(3,"joe",t1,t,t2)
print(nt.count('1'))
print(nt[-1][-2][-1][0])
print(max(t))
print(min(t))
print(len(t))

0
1
8.0
1
4

Q4.Dictionaries

In [6]:
#dictionaries
dict={"name":"Rimsha","rno":1013}
print(dict.fromkeys("name"))
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.update({"rno":556}))
print(dict.items())

{'n': None, 'a': None, 'm': None, 'e': None}
dict_keys(['name', 'rno'])
dict_values(['Rimsha', 1013])
dict_items([('name', 'Rimsha'), ('rno', 1013)])
None
dict_items([('name', 'Rimsha'), ('rno', 556)])

Q5.SETS

In [7]:
#sets
s={'k',"yy",7}
set={'u','ol',5,2.8}
s1=set.copy()
print(s1)
print(set.pop())
s2=set.intersection(s1)
print(s2)
set.update('6')
print(set)
print(set.isdisjoint(s))

{'u', 'ol', 5, 2.8}
u
{2.8, 'ol', 5}
{2.8, 'ol', 5, '6'}
True

In [9]:
c=13
print("Binary number is:",bin(c))
print("Hexadecimal number is:",hex(c))
print("Octal number is:",oct(c))

Binary number is: 0b1101
Hexadecimal number is: 0xd
Octal number is: 0o15

In [10]:
#arithmetic operators
print("arithmetic operators")
t=(1,1.5,0,9.08 )
a=20
b=2

print(t[1]+b)
print(a-t[3])
print(int(t[-1]/t[-3]))
print(a*b)
print(a**b)
print(t[3]//b)

arithmetic operators
3.5
10.92
6
40
400
4.0

In [12]:
#assignment operators
t=(3,5,7,19)
l=[5,7,1]
print(l)
t1=tuple(l)
print(t1)

a=t[-1]
b=t[-4]
c=a/b
c+=a
print(c)

[5, 7, 1]
(5, 7, 1)
25.333333333333332

In [14]:
#comparison operators
t=(1,2,4,5,6)
l=[5,7,9]
print(l)
t1=tuple(l)
print(t1)
a=t1[-1]
b=l[2]
print(a==b)
print(a<=b)
print(a>=b)
print(a<<b)
print(a>>b)
print(a!=b)

[5, 7, 9]
(5, 7, 9)
True
True
True
4608
0
False

In [15]:
#logical operators-and or not
t=True
f=False
print("t and f is:",t and f)
print("t or f is:",t or f)
print("t not f is:",not f)

t and f is: False
t or f is: True
t not f is: True

In [16]:
#bitwise opearators
a=1
b=4  

print(a&b) #and
print(a|b) #or
print(~a) #not
print(a^b) #XOr
print(a>>2) #right shift
print(a<<2) #left shift

0
5
-2
5
0
4

In [17]:
#membership operators
a="hey everyone!"
print("e" in a)

True

In [19]:
#identity operators
a1=5
b1=5
a2="Aiml"
b2="aiml"
a3=[1,2,3]
b3=[1,2,3]
print(a1 is b1)
print(a2 is b2)
print(a2 is not b2)
print(a3 is b3)

True
False
True
False

In [20]:
l=[3,7.9,"hello","hii","bye"]
l1=["python",l]
l2=["program","students",l1,l]
l3=[4,6,3.7,"whattt",l2,l1,l]
print(l3[-3::-2])

[['program', 'students', ['python', [3, 7.9, 'hello', 'hii', 'bye']], [3, 7.9, 'hello', 'hii', 'bye']], 3.7, 4]

In [23]:
##reverse the string and prints the 3rd letter starting from the 4th at last(from 0)
print( "A series of characters designated as one object known as a string"[::-1][4::3])
print("-------------")
print( "Welcome to Python traing program"[3:10][::-1])

taawkcbe  tgestrcoeeA
-------------
ot emoc

In [22]:
t="was it acar or a cat I saw"
y=(t[::-1])
print(y.upper())

WAS I TAC A RO RACA TI SAW

In [25]:
X=int(input())
print(X*'Z'+2*X*'O')

2
ZZOOOO