<a href="https://colab.research.google.com/github/rimshamujeeb50/2216154_AIML_Bootcamp_2023/blob/main/Aiml_bootcamp_day_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#desicion making

#if statement
var=100
if var>0:
  print("True")
  print(var)

#if _else statement
if var>10:
  print("yes")
else:
  print("no")

#nested if statement
age=int(input("ENTER AGE"))
if age>0 and age<15:
  if age>0 and age<2:
   print("k")
  elif age>2 and age<7:
   print("hello")
  else:
    print("hi")
else:
  print(age)

True
100
yes
ENTER AGE21
21

In [1]:
#python loops
n=[1,2,3,4,5,5]
for i in range(1,7): #(1,n-1)
  print(i)
s=0
for j in n:
  s=s+j
print("sum:",s)

for i in range(1,6,3):
  print(i)

1
2
3
4
5
6
sum: 20
1
4

In [2]:
#while loop -used for large data
c=1
while(c<7):
  print(c)
  c=c+1

1
2
3
4
5
6

In [3]:
#nested loop
x=[[12,7,3],[4,5,6],[7,8,9]]
y=[[4,8,12],[1,1,0],[5,3,0]]
res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[16, 15, 15]
[5, 6, 6]
[12, 11, 9]

In [ ]:
#nested while loop
num=int(input("enter until which number u need"))
i=1
while(i<=num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("_____________")
  i=i+1

enter until which number u need3
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
_____________
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
_____________
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
_____________

In [ ]:
#control statement

#break
for q in "python":
  if q=='h':
    break
  print("current letter",q)
print("________________")
#continue
for q in "python":
  if q=='h':
    continue
  print("current letter",q)
print("_________________")
#paas
for q in "python":
  if q=='h':
    pass
    print("this is in pass block")
  print("current letter",q)

current letter p
current letter y
current letter t
________________
current letter p
current letter y
current letter t
current letter o
current letter n
_________________
current letter p
current letter y
current letter t
current letter h
current letter o
current letter n

In [ ]:
#function

def green(name):
  '''this function greets a person'''
  print("hello,\t"+name+"\t goodmorning")
green("Rimsha")

hello,	Rimsha	 goodmorning

In [ ]:
#default
def A(a,b=1,c=2):
  return a+b+c

print(A(3))
print(A(4,4,4))

6
12

In [ ]:
#keyword

In [ ]:
#positional---directly corresponds to keyword
def A(a,b,c):
  return a+b+c

print(A(10,20,30))

In [ ]:
#arbitary positional
def add_num(*n):
  print(sum(n))

add_num(1,2,3,4,5,6,7,8)

36

In [ ]:
#arbitary keyword
def key_args(**kwargs):
  return kwargs
myd=key_args(apples=10,banana=5)
print(myd['apples'])
print(myd)

10
{'apples': 10, 'banana': 5}

In [5]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()

def explain(func):
  greet=func("hi ,iam HiGHer OrdwR fUnction")
  print(greet)

explain(shout)
explain(whisper)

HI ,IAM HIGHER ORDWR FUNCTION
hi ,iam higher ordwr function